body{
    min-width:fit-content;
}

.lead{
    font-size: 1.5rem;
}

.avatar_img{
    height: 15rem;
}

.about_p, .about_span, .contact_section input, .contact_section textarea{
    font-size: 1.45rem;
}



/* Color */
.bg_blue{
    background-color: #2C3E50;
}

.bg_color_green{
    background-color: #1ABC9C;
}

.line_star::after, .line_star::before{
    content:"";
    display: inline-block;
    background-color: #ffffff;
    width: 9.5rem;
    height: 0.25rem;
    vertical-align: middle;
    border-radius: 0.4rem;
}

.star_black::after , .star_black::before{
    background-color: #000000;
}

