body{
    min-width: max-content
}

.lead{
    font-size: 1.5rem;
}












/* Color */
.bg_blue{
    background-color: #2C3E50;
}

.bg_color_green{
    background-color: #1ABC9C;
}








.avatar_img{
    height: 15rem;
}

.portfolio_img{
    height: 15rem;
}





.line_star::after{
    content:"";
    display: inline-block;
    background-color: #ffffff;
    width: 9.5rem;
    height: 0.25rem;
    vertical-align: middle;
    border-radius: 0.4rem;
}

.line_star::before{
    content:"";
    display: inline-block;
    background-color: #ffffff;
    width: 9.5rem;
    height: 0.25rem;
    vertical-align: middle;
    border-radius: 0.4rem;
}


/* Debug */
.dbg{
    height: 60px;
}

.dbg_2{
    background-color: #ffe4c4;
    border: 1px solid #000000;
    height: 40px;
}

.dbg_3{
    background-color: cornflowerblue;
    height: 350px;
}

.dbg_4{
    background-color: rgb(174, 177, 15);
    height: 350px;
}

.dbg_5{
    background-color: lightpink;
    border: 1px solid #000000;
    height: 200px;

}
